/* Header */
.bg-primary {
    background: url('../img/bk_header_tab.jpg') repeat !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* Footer */
/* .main-footer {
    background: url('../img/bckgCec.jpg') repeat !important;
} */

/* Form */

.form-control {
    margin-bottom: 5px !important;
}

/* Left navbar */

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #8c572b3b;
    color: #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #494e53;
    color: white;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
}

/* global */
.content-wrapper {
    background: #f9f7f4!important;
}

.modified-head {
    padding-left: 1.25rem!important;
}

.bg-brown {
    background-color: #66350c!important;
    color: white!important;
}

.cec-search {
    width: 50%;
    margin-left: auto!important;
}

.cec-search-inside {
    width: 100%!important;
}

.bkg-white {
    background-color: white;
    padding: 10px;
}

a {
    color: #8f551a;
}

a:hover {
    color: #614f3d;
}

/* body { */
    /* background: url('../img/bk_body.jpg') repeat-x; */
    /* background: #e8dbb9 url('../img/bk_bottom.jpg') repeat-x bottom;
    min-height: 100vh;
} */

/* h1 {
    font-size: 28px;
    color: #000;
    margin: 0 0 20px 0;
    padding: 5px 0;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    font-weight: normal;
} */

.btn-primary {
    background-color: #795548;
    border-color: #795548;
}

.btn-primary:hover {
    background-color: #271914;
}

.table-cec-header, .table-cec-header>th, .table-cec-header>td {
    background-color: #3b281a;  
    color: white;
}

/* Liste */

.fit {
    overflow: auto;
}

/* .table-cec td,
.table-cec th {
    text-align: right;
} */

.table-cec-header:hover {
    background-color: #3b281a!important;
    color: white;
}

.fit {
    background-color: white;
}

.table-fit td, 
.table-fit th {
    white-space: nowrap;
    width: 1%;
}