/* Header */
.bg-primary {
    background: url('../img/bk_header_tab.jpg') repeat !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* Form */

.form-control {
    margin-bottom: 5px !important;
}

.map-form-group {
    margin-bottom:0px;
}

/* Left navbar */

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #494e53;
    color: white;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
}

/* global */
.content-wrapper {
    background: #f9f7f4!important;
}

.modified-head {
    padding-left: 1.25rem!important;
}

.bg-brown {
    background-color: #66350c!important;
    color: white!important;
}

.cec-search {
    width: 50%;
    margin-left: auto!important;
}

.cec-search-inside {
    width: 100%!important;
}

.bkg-white {
    background-color: white;
    padding: 10px;
}

a {
    color: #8f551a;
}

a:hover {
    color: #614f3d;
}

/* body { */
    /* background: url('../img/bk_body.jpg') repeat-x; */
    /* background: #e8dbb9 url('../img/bk_bottom.jpg') repeat-x bottom;
    min-height: 100vh;
} */

/* h1 {
    font-size: 28px;
    color: #000;
    margin: 0 0 20px 0;
    padding: 5px 0;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    font-weight: normal;
} */

.btn-primary {
    background-color: #795548;
    border-color: #795548;
}

.btn-primary:hover {
    background-color: #271914;
}

.table-cec-header, .table-cec-header>th, .table-cec-header>td {
    background-color: #3b281a;  
    color: white;
}

/* Liste */

.fit {
    overflow: auto;
}

/* .table-cec td,
.table-cec th {
    text-align: right;
} */

.table-cec-header:hover {
    background-color: #3b281a!important;
    color: white;
}

.fit {
    background-color: white;
}

.table-fit td, 
.table-fit th {
    white-space: nowrap;
    width: 1%;
}

/* Pour compact : sur demande */
.content-header {
    padding: 0.1rem .5rem!important;
}
body {
    line-height: 0.5;
}
.small-box {
    margin-bottom: 10px;
}

.card {
    margin-bottom: .25rem;
}

.card-header {
    padding: .25rem 1.25rem;
}

.card-body {
    padding: .5rem;
}

.info-box {
    margin-bottom: .25rem;
    min-height: 65px;
    padding: .25rem;
}

.mb-2, .my-2 {
    margin-bottom: 0!important;
}

.small-box h3 {
    font-size: 1.25rem!important;
    margin: 0 0 0px 0;
}

.small-box>.inner {
    padding: 5px;
}

.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.glyphicon, .small-box .icon>i.ion {
    font-size: 60px;
    top: 0px;
}

.form-group-bottom {
    margin-bottom: 1rem!important;
}

.table-list {
    line-height: 1rem;
}

.table-limit th {
    max-width: 240px;
}

.table-cell-righ td {
    text-align: right;
}

.table-form select {
    padding: 0px;
}

.table-form th, .table-form td {
    padding-left: 5px;
    padding-right: 5px;
}